@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --carousel-height: 450px;
  --carousel-width: 350px;
}

.verticalCarousel {
  position: "relative";
  height: var(--carousel-height);
  width: var(--carousel-width);
  transform: perspective(1200px) rotate(6deg) rotateX(2deg) rotateY(-30deg);
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
}
